<!-- LOGIN MODAL -->
<div id="loginModal" class="modal">
    <div class="modal-content">
        <span id="closeLoginModalBtn" class="close">&times;</span>
        <h2>Welcome Back</h2>
        <p>Doesn't have an account yet? <a href="{% url 'register' %}" id="showRegisterModal">Sign Up</a></p>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {{ login_form.as_p }}
            <button type="submit">Login</button>
        </form>
    </div>
</div>



