{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'dashboard/dash_sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/dash_main.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/dash_overlay.css' %}">
</head>
<body>

    {% block content %}

    {% endblock %}
    <script src="https://kit.fontawesome.com/603a80fa25.js" crossorigin="anonymous"></script>
    <script src="{% static 'dashboard/dash_sidebar.js' %}"></script>
</body>
</html>